# Secrets and local env files
**/.env
**/.env.*
**/config.env

# Local databases
**/*.db
**/*.sqlite
**/*.sqlite3

# Python caches
**/__pycache__/
**/*.py[cod]
**/*.tmp
**/*.swp
**/*.pyc

# OS/editor junk
.DS_Store
Thumbs.db

# log files
**/*.log
